/* Google fonts */
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,400i,700,700i&subset=latin-ext');

/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }


body {
	margin: 0;
	padding: 50px;
	font: 18px/1.5 "Merriweather", sans-serif;
	background-color: white;
	color: black;
}




.hra {
	width: 700px;
	margin: 80px auto;
	display: flex;
	align-items: center;
}

.hra > div:nth-child(2) {
	flex: 1;
	margin-left: 80px;
	text-align: center;
}

#kostka {
	width: 300px;
	height: auto;
}

#zprava {
	font-size: 18px;
	font-weight: bold;
}

.tlacitko {
	display: inline-block;
	font-family: Monserrat, sans-serif;
	font-size: 36px;
	font-weight: bold;
	color: #fff;
	text-decoration: none;
	text-align: center;
	text-shadow: 1px 1px 0px #c5376d;
	padding: 10px 30px;
	position: relative;
	cursor: pointer;
	border: none;
	background: #f78db5;
	background-image: linear-gradient(bottom, #f78db5 0%, #ef5a92 100%);
	border-radius: 5px;
	box-shadow: 0px 5px 0px 0px #c5376d, 0px 10px 5px #999;
	outline: 0;
}

.tlacitko:active {
	top: 3px;
	box-shadow: 0px 2px 0px 0px #c5376d, 0px 5px 3px #999;
}
